body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}

#flying-window {
    position: absolute;
    width: 150px;
    height: 100px;
    background-color: #f85ef8;
    color: white;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    line-height: 100px;
    text-align: center;
}